link(rel='stylesheet', href='/style.css', type="text/css")

h1 Showing Diagrams

//div Add Ecore
//	form#formUpdateFile(name="addEcore",method="post",action="/ecores")
//		input#inputName(type="text", placeholder="name", name="name")
//		br
//		textarea#text(name="content", cols="100", rows="15")
//		br
//		
//		| Do you want to auto generate graphicR file? 
//		input#checkbox(name="autogenerate" type='checkbox', checked=true)
//		br
//		br
//		button#btnSubmit(type="submit") submit


.submit-form
	table
		thead
			.table-row
			tr:th Models
			br
			br
		tbody
			each diagram, i in diagramList
				tr
					td
						.item
						a(href="/diagrams/#{diagram.name}") #{diagram.name}
					td
						.item
						a(href="/diagrams/#{diagram.name}")
							img(id='preview', class='input-img', src="https://diagrameditorserver.herokuapp.com/diagrams/"+diagram.name+"/image")


	p
	
	br
	br
	br
	
	a(href="/") Back to index