link(rel='stylesheet', href='/style.css', type="text/css")


.submit-form
	block content
		h1 Model
		br
		.submit-label Name: #{diagram.name}
		br
		br

	//form#formRemoveDiagram(name="removeDiagram",method="post",action="/palettes/#{name}/delete")
	//		button#btnSubmit(type="submit") Delete


	//Content

	.submit-text-area
	textarea#text(name="content", cols="80", rows="20", disabled="disabled") #{diagram.content} 


	.mySlides
	img(id='preview', class='input-img', src="https://diagrameditorserver.herokuapp.com/diagrams/"+diagram.name+"/image")

	//Preview


	br
	a(href="/diagrams") Go to palettes
	br
	a(href="/") Back to index