link(rel='stylesheet', href='/style.css', type="text/css")

h1 Ecores

.submit-form
	form#formUpdateFile(name="addEcore",method="post",action="/ecores")
		.submit-label Name 
		.submit-text-field
		input#inputName(type="text", placeholder="name", name="name")
		br

		.submit-label URI (Required) 
		.submit-text-field
		input#inputName(type="text", placeholder="URI", name="uri")
		br

		.submit-text-area
		textarea#text(name="content", cols="100", rows="15")
		br
		
		| Do you want to auto generate graphicR file? 
		input#checkbox(name="autogenerate" type='checkbox', checked=true)
		br
		br
		
		.submit-button
		button#btnSubmit(type="submit") submit


.submit-form
	h2 Stored ecores

	ul
		each ecore, i in ecorelist
			li
				.item
				a(href="/ecores/#{ecore.name}") #{ecore.name}

	p
	
	br
	br
	br
	
	a(href="/") Back to index