link(rel='stylesheet', href='/style.css', type="text/css")

.submit-form
	block content
		h1 Ecore
		br
		.submit-label Name: #{name}
		br
		br

	//form#formRemoveEcore(name="removeEcore",method="post",action="/ecores/#{name}/delete")
	//		.submit-button
	//		button#btnSubmit(type="submit") Delete


	.submit-text-area
	textarea#text(name="content", cols="80", rows="20", disabled="disabled") #{content} 

	br
	br
	br

	a(href="/ecores") Back to ecores
	br
	a(href="/") Back to index