html
	link(rel='stylesheet', href='/style.css', type="text/css")
	

	include main.html

	//h1 Welcome to Diagram Editor Server
	//br
	//br

	//body
	//	a(href="/palettes") Show palettes
	//	br
	//	br
	//	a(href="/ecores") Show ecores
	//	br
	//	br
	//	a(href="/diagrams") Show stored diagrams