include ./includes/mixins

doctype
html( lang="en" )
    head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    //- Bootswatch Theme
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/main.css', type="text/css")

    body

        +nav("DSL-Comet", "dropdown_menu")
            +nav_item( "/" ) Home
            if isAuthenticated
              +nav_item_dropdown( "#" )( label="Artefacts")
                +nav_item( "/ecores" ) Ecores
                +nav_item( "/palettes" ) Palettes
                +nav_item( "/diagrams" ) Models
              +nav_item("/dashboard") Dashboard
              +nav_item( "/logout/" ) Log Out #{username}
            else
              +nav_item_dropdown( "#" )( label="Artefacts")
                +nav_item( "/ecores" ) Ecores
                +nav_item( "/palettes" ) Palettes
                +nav_item( "/diagrams" ) Models
              +nav_item( "/signin/" ) Sign In
              +nav_item( "/signup/" ) Sign Up

        center
          block content

          .jumbotron
            h5
              | This work has been funded by the European Union’s Horizon 2020 research and innovation programme </br>under the Marie Skłodowska-Curie grant agreement n∘ 813884 (
              a(href="https://www.lowcomote.eu") Lowcomote
              | ), </br>by the Spanish Ministry of Science (project MASSIVE, RTI2018-095255-B-I00), </br>and by the R&D programme of Madrid (project FORTE, P2018/TCS-4314).

            table
              tr
                td
                  img(style="height:130px; margin-right: 40px;", src="https://diagrameditorserver.herokuapp.com/images/UAM-Logo.png")
                td
                  img(style="height:130px; margin-right: 40px;", src="https://diagrameditorserver.herokuapp.com/images/eps.png")
                td
                  img(style="height:130px; margin-right: 40px;", src="https://diagrameditorserver.herokuapp.com/images/miso.png")


    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
