
<!DOCTYPE html>
<html>
<title>DSL-Comet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
<link rel="stylesheet" href="https://diagrameditorserver.herokuapp.com/style.css">


<style type="text/css">

</style>

<body onload="expandArtefacts()">


<br>
<br>

<nav class="w3-sidenav w3-theme-d5 w3-card-2" style="width:160px; background-color: rgb(57,57,57);">
  <a href="#header" style="background-color: rgb(0,0,0);">Home</a>
  <a href="#media-div" style="background-color: rgb(0,0,0);">Media</a>
  <a href="#links-div" style="background-color: rgb(0,0,0);">Links</a>
  <a href="#contact-div" style="background-color: rgb(0,0,0);">Contact</a>
  <br>
  <div class="w3-accordion w3-theme">
    <a >
      Artefacts <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-accordion-content w3-theme-d5 w3-card-4">
      <a href="https://diagrameditorserver.herokuapp.com/ecores">Ecores</a>
      <a href="https://diagrameditorserver.herokuapp.com/palettes">Palettes</a>
      <a href="https://diagrameditorserver.herokuapp.com/diagrams">Models</a>
    </div>
  </div>

</nav>

<div class="w3-container" style="margin-left:15%;">

  <div id="header" align="center">
    <header>
      <br>
      <br>
      <!--<h1>DSL-Comet</h1>
      <div id="subtitle">Domain-specific modelling in mobile devices</div>
      -->
        <table >
              <tr>
                <td rowspan="2">
                  <img  src="https://diagrameditorserver.herokuapp.com/iconNoBackground.png"
                    alt="Logo DSL-Comet"
                    style="height:130px; margin-right: 40px;"
                    >
                </td>
                <td>
                  <h1>DSL-Comet</h1>
                </td>
                <td rowspan="2">
                  <img src="https://diagrameditorserver.herokuapp.com/iconNoBackground.png"
                    alt="Logo DSL-Comet"
                    style="height:130px; margin-left: 40px;"
                    >
                </td>
              </tr>
              <tr>
                <td>
                   <div id="subtitle">Domain-specific modelling in mobile devices</div>
                </td>
              </tr>

        </table>
      <br>

      <hr>
    </header>
  </div>

  <br>
  <br>
<br>
<br>
  <div id="home-div" align="center">
    <br>
    <br>
    <br>
    <h3>Information</h3>
    <br>
    <p>DSL-comet is an iOS tool that allows graphical, collaborative modelling on mobile devices.
    <br>Our architecture permits creating both Sirius and mobile editors from a single description.
    <br>Models can be stored locally or in a server, and they are compatible with EMF</p>
  </div>

  <br>
  <br>
  <hr>
  <br>


  <div id="media-div" align="center">
    <br>
    <h3>Media</h3>
    <br>
    <iframe width="840" height="473" src="https://www.youtube.com/embed/rzhl9yMFSxI?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <br>
  <br>
  <br>

  <div id="links-div">
    <hr>
    <br>
    <h3>Links</h3>
    <br>

    <div id="links-list">
     <ol>

        <li><p><em>Download:</em>

          <a href="https://itunes.apple.com/es/app/dsl-comet/id1118878610?mt=8">https://itunes.apple.com/es/app/dsl-comet/id1118878610?mt=8</a>

        </p></li>

        <br>

        <li><p><em>Github code</em>
          <a href="https://github.com/Rievo/DiagramEditor">https://github.com/Rievo/DiagramEditor</a>
        </p></li>

        <br>

        <li><p><em>Miso group</em>
          <a href="http://www.miso.es">http://www.miso.es</a>
        </p></li>


     </ol>
    <br>
  <br>
  </div>


  <hr>

  <div id="contact-div" align="center">
    <br>
    <h3>Contact</h3>
    <br>

      <table align="left">
              <tr>
                <td>
                  <p>Diego Vaquero-Melchor :
                </td>
                <td>
                   <img src="https://diagrameditorserver.herokuapp.com/md.png"
                    alt=""
                    style="height:40px; "
                    >
                </td>
              </tr>


        </table>

    <br>
    <br>
    <br>

  </div>


  <hr>

  <br>
  <br>



  <div id="footer" style="background-color: #FFF; height: 150px; ">


    <table width="100%" border="0">
      <tr>

      <td width="(100/3)%">
        <a href="https://www.uam.es/ss/Satellite/es/home/">
          <img src="https://diagrameditorserver.herokuapp.com/logo_uam.jpg"
          alt="Logo Uam"
          style="height:100px; margin-top: 25px; margin-left: 20%;">
        </a>
      </td>


      <td width="(100/3)%">
        <a href="https://www.uam.es/ss/Satellite/EscuelaPolitecnica/es/home.htm">
          <img src="https://diagrameditorserver.herokuapp.com/logo_eps.png"
          alt="Logo EPS"
          style="height:100px; margin-top: 25px; margin-right: 10%;"
          >
        </a>
      </td>


      <td width="(100/3)%">
        <a href="https://www.miso.es">
          <img src="http://diagrameditorserver.herokuapp.com/misoIcon.png" alt="Logo MISO" style="height:100px; margin-top: 25px;margin-right: 10%;">
        </a>
      </td>


      </tr>
    </table>
  </div>
</div><!-- Container end-->



<script>
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-black";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-black", "");
    }
}

function expandArtefacts(){
    var x = document.getElementById("demoAcc");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          x.previousElementSibling.className += " w3-black";
      } else {
          x.className = x.className.replace(" w3-show", "");
          x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-black", "");
      }
}
</script>


<br>
<br>
<br>
<br>
</body>
</html>
